<ion-header>

    <ion-navbar text-center no-border-bottom color="primary">
      <ion-title> {{dataInfo.titleEmployeers}} </ion-title>                

      <ion-item detail-none no-lines class="backgroundPainel" text-center>  
        <b>{{dataInfo.titleUsername}}:</b> {{dataInfo.userInfo.name}}                 
        <b>{{dataInfo.titleTime}}:</b> {{dataInfo.clock}}          
      </ion-item>         

    </ion-navbar>
  
    <ion-toolbar no-border color="primary">
        <ion-searchbar
          [(ngModel)]="searchTerm"
          (search)="setFilteredItems()"
          placeholder= "Procurar...">
       </ion-searchbar>
    </ion-toolbar>       

  </ion-header>
  
  
<ion-content padding>    

    <ion-segment [(ngModel)]="segmentStatus" (ionChange)="onSegmentChange()">      
      <ion-segment-button value="active"> Ativos</ion-segment-button>
      <ion-segment-button value="inactive">Inativos</ion-segment-button>
    </ion-segment>

  <ion-list> 

      <ion-card class="trip card ani-bottom-to-top" text-wrap *ngFor="let employee of allemployees" no-lines>
          
        <ion-card-header>
                      
            <ion-item>
                <ion-avatar item-start>
                  <img src="./assets/imgs/default-user.png" *ngIf="! employee.foto_web">                  
                  <img [src]="employee.foto_web" *ngIf="employee.foto_web">
                </ion-avatar>                                
                
                
                <h2>{{employee.name}}</h2>
                <p *ngIf="! employee.FUNCIONARIO_TIPO"><b>{{dataInfo.titleType}}: </b>{{dataInfo.titleNotInformed}}</p>
                <p *ngIf="employee.FUNCIONARIO_TIPO"><b>{{dataInfo.titleType}}: </b>{{employee.FUNCIONARIO_TIPO}}</p>
                <p *ngIf="! employee.matricula"><b>{{dataInfo.titleRegistration}}: </b>{{dataInfo.titleNotInformed}}</p>
                <p *ngIf="employee.matricula"><b>{{dataInfo.titleRegistration}}: </b>{{employee.matricula}}</p>                                
              
            </ion-item>

      </ion-card-header>                  
  
      <ion-card-content class="mgt-10 top-default"> 

        <p><b>{{dataInfo.titleCompany}}: </b>{{employee.EMPRESA}}</p>
        <p><b>{{dataInfo.titleBadge}}: </b>{{employee.CRACHA}}</p>
        <p *ngIf="employee.lastAccess"><b>{{dataInfo.titleLastAccess}}: </b>{{employee.lastAccess}}</p>                

      </ion-card-content>         

      <ion-item  class="ani-left-to-right" *ngIf="employee.details">
        <p><b>{{dataInfo.titleAccessRules}}: </b>{{employee.profiles}}</p>
        <p><b>{{dataInfo.titleAcls}}: </b>{{employee.acls}}</p>
        <p><b>{{dataInfo.titleAccessPoints}}: </b>{{employee.accessPoints}}</p>      
        <p><b>{{dataInfo.titleSector}}: </b>{{employee.SETOR}}</p>
        <p><b>{{dataInfo.titleOffice}}: </b>{{employee.CARGO}}</p>

        <ion-item  item-right class="qrbar">
            <ngx-qrcode
            [qrc-element-type]="'img'"
            [qrc-value] = "employee.CRACHA"
            qrc-class = "aclass"
            qrc-errorCorrectionLevel = "L">
          </ngx-qrcode>
        </ion-item>

      </ion-item>      
      
      <ion-row>
          <ion-col *ngIf="! employee.details">
              <button ion-button icon-start clear small (click)="userDetails(employee)"> 
                  <ion-icon name="search"></ion-icon>                
                <div>Detalhes</div>
              </button>
            </ion-col>            

          <ion-col>
              <button ion-button icon-start clear small (click)="goPageEdit(employee)"> 
                  <ion-icon name="md-clipboard"></ion-icon>                
                <div>Editar</div>
              </button>
            </ion-col>

            <ion-col>
            <button ion-button icon-start clear small (click)="checkAclUser(employee)"> 
                  <ion-icon name="md-hand"></ion-icon>                
                <div>ACL</div>
              </button>
            </ion-col>
            <ion-col>
              <button ion-button icon-start clear small (click)="remove(employee)"> 
                  <ion-icon name="trash" color="danger"></ion-icon>                
                <div>Remover</div>
              </button>
            </ion-col>    

      </ion-row>      

    </ion-card>
    

  </ion-list>

  <ion-fab bottom right>
    <button ion-fab (click)="goPageAdd()"><ion-icon name="add"></ion-icon></button>
  </ion-fab>

</ion-content>