<ion-header>

    <ion-navbar text-center no-border-bottom color="primary">
      <ion-title> {{dataInfo.titleEmployeers}} </ion-title>                
    </ion-navbar>
  
    <ion-toolbar no-border color="primary">
        <ion-searchbar
          [(ngModel)]="searchTerm"
          (ionInput)="setFilteredItems()"
          placeholder= "Procurar...">
       </ion-searchbar>
    </ion-toolbar>
   
  </ion-header>
  
<ion-content padding>

    <ion-list>

      <ion-card class="trip card" text-wrap *ngFor="let employee of (employees | async)?.success" no-lines>

        <ion-card-header>

            <ion-icon style="float: right;" name="md-more" color="primary"(click)="openMenu(employee)"></ion-icon>              
            
            <ion-item>
                <ion-avatar item-start>
                  <img src="./assets/imgs/default-user.png" *ngIf="! employee.foto_web">                  
                  <img [src]="employee.foto_web" *ngIf="employee.foto_web">
                </ion-avatar>
        
                <h2>{{employee.name}}</h2>
                <p *ngIf="! employee.FUNCIONARIO_TIPO"><b>{{dataInfo.titleType}}: </b>{{dataInfo.titleNotInformed}}</p>
                <p *ngIf="employee.FUNCIONARIO_TIPO"><b>{{dataInfo.titleType}}: </b>{{employee.FUNCIONARIO_TIPO}}</p>
                <p *ngIf="! employee.matricula"><b>{{dataInfo.titleRegistration}}: </b>{{dataInfo.titleNotInformed}}</p>
                <p *ngIf="employee.matricula"><b>{{dataInfo.titleRegistration}}: </b>{{employee.matricula}}</p>                

                <p *ngIf="employee.SETOR"><b>{{dataInfo.titleSector}}: </b>{{employee.SETOR}}</p>
            </ion-item>

          </ion-card-header>                  
  
      <ion-card-content class="mgt-10 top-default"> 
        <p><b>{{dataInfo.titleBadge}}: </b>{{employee.CRACHA}}</p>
        <p><b>{{dataInfo.titleOffice}}: </b>{{employee.CARGO}}</p>
        <p><b>{{dataInfo.titleCompany}}: </b> {{employee.EMPRESA}}</p>        
      </ion-card-content>                                   

    </ion-card>
    
  </ion-list>

  <ion-fab bottom right *ngIf="false">
    <button ion-fab (click)="goPageAdd()"><ion-icon name="add"></ion-icon></button>
  </ion-fab>

</ion-content>
