<ion-header>

    <ion-navbar text-center no-border-bottom color="primary">
      <ion-title> {{dataInfo.titleEmployeers}} </ion-title>                

      <ion-item detail-none no-lines class="backgroundPainel" text-center>  
        <b>{{dataInfo.titleUsername}}:</b> {{dataInfo.userInfo.name}}                 
        <b>{{dataInfo.titleTime}}:</b> {{dataInfo.clock}}          
      </ion-item>

    </ion-navbar>
  
    <ion-toolbar no-border color="primary">
        <ion-searchbar
          [(ngModel)]="searchTerm"
          (search)="setFilteredItems()"
          placeholder= "Procurar...">
       </ion-searchbar>
    </ion-toolbar>       

  </ion-header>
  
  
<ion-content padding>

    <ion-list>

      <ion-card class="trip card" text-wrap *ngFor="let employee of allemployees" no-lines (click)="openMenu(employee)">

        <ion-card-header>
                      
            <ion-item>
                <ion-avatar item-start>
                  <img src="./assets/imgs/default-user.png" *ngIf="! employee.foto_web">                  
                  <img [src]="employee.foto_web" *ngIf="employee.foto_web">
                </ion-avatar>
        
                <h2>{{employee.name}}</h2>
                <p *ngIf="! employee.FUNCIONARIO_TIPO"><b>{{dataInfo.titleType}}: </b>{{dataInfo.titleNotInformed}}</p>
                <p *ngIf="employee.FUNCIONARIO_TIPO"><b>{{dataInfo.titleType}}: </b>{{employee.FUNCIONARIO_TIPO}}</p>
                <p *ngIf="! employee.matricula"><b>{{dataInfo.titleRegistration}}: </b>{{dataInfo.titleNotInformed}}</p>
                <p *ngIf="employee.matricula"><b>{{dataInfo.titleRegistration}}: </b>{{employee.matricula}}</p>                                
            </ion-item>

          </ion-card-header>                  
  
      <ion-card-content class="mgt-10 top-default"> 
        <p><b>{{dataInfo.titleAccessRules}}: </b>{{employee.profiles}}</p>
        <p><b>{{dataInfo.titleAcls}}: </b>{{employee.acls}}</p>
        <p><b>{{dataInfo.titleName}}: </b>{{employee.name}}</p>
        <p><b>{{dataInfo.titleSector}}: </b>{{employee.SETOR}}</p>
        <p><b>{{dataInfo.titleCompany}}: </b>{{employee.EMPRESA}}</p>
        <p><b>{{dataInfo.titleBadge}}: </b>{{employee.CRACHA}}</p>
        <p><b>{{dataInfo.titleOffice}}: </b>{{employee.CARGO}}</p>        
      </ion-card-content>                                   

    </ion-card>
    
  </ion-list>

  <ion-fab bottom right *ngIf="false">
    <button ion-fab (click)="goPageAdd()"><ion-icon name="add"></ion-icon></button>
  </ion-fab>

</ion-content>

<ion-footer>
  <button ion-button full (click)="setFilteredItems()" *ngIf="searchTerm.length > 0">{{dataInfo.titleSearch}}</button>
</ion-footer>
