page-employee {

    .backgroundPainel{
        background-color: transparent;
        color: white;
    }
    

    ion-item.item-ios.item.item-block, 
    ion-item.item-md.item.item-block, 
    ion-item.item-wp.item.item-block {
        border-bottom: 0px solid transparent; 
    }


    .ani-left-to-right{
        animation-name: left-to-right;
        animation-duration: 1s;
        animation-timing-function: linear;
        animation-direction: alternate;
    }

    .ani-bottom-to-top{
        animation-name: bottom-to-top;
        animation-duration: 1s;
        animation-timing-function: linear;
        animation-direction: alternate;
    }

    .qrbar {
        width: 10%;
        height: 10%;
    }
    
    
}
