
<ion-header>

  <ion-navbar text-center no-border-bottom color="primary">  
  
  <ion-title> {{dataInfo.titleVehicle}} </ion-title> 

  <ion-item detail-none no-lines class="backgroundPainel" text-center>  
    <b>{{dataInfo.titleUsername}}:</b> {{dataInfo.userInfo.name}}                 
    <b>{{dataInfo.titleTime}}:</b> {{dataInfo.clock}}          
  </ion-item> 
   
 </ion-navbar>  

</ion-header>


<ion-content padding>

<ion-list>
  
    <ion-item>
      <ion-label>{{dataInfo.titleType}}</ion-label>      
      <ion-select [(ngModel)]="type">
        <ion-option  *ngFor="let type of (dataInfo.vehicleTypes | async)?.success" no-lines>{{type.name}}</ion-option>        
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label>{{dataInfo.titleModel}}</ion-label>
      <ion-select [(ngModel)]="model">
        <ion-option  *ngFor="let model of (dataInfo.vehicleModels | async)?.success" no-lines>{{model.name}}</ion-option>        
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label>{{dataInfo.titleBrand}}</ion-label>      
      <ion-select [(ngModel)]="brands">
        <ion-option  *ngFor="let brand of (dataInfo.vehicleBrands | async)?.success" no-lines>{{brand.name}}</ion-option>        
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label>{{dataInfo.titlePlate}}</ion-label>
      <ion-input type="text" [(ngModel)]="plate"></ion-input>
    </ion-item>

  <button ion-button full (click)="add()" color="primary">Adicionar</button>
  <button ion-button full (click)="clearAll()" color="danger">Limpar</button>
  
</ion-list>  

</ion-content>

<ion-footer class="trips detail-bg">  
    
    <ion-list>

        <ion-item class="trip card" text-wrap *ngFor="let vehicle of vehicles" no-lines>                          
          <p><b>{{dataInfo.titleType}}: </b>{{vehicle.type}}</p>
          <p><b>{{dataInfo.titleModel}}</b> {{vehicle.model}} </p>      
          <p><b>{{dataInfo.titleBrand}}</b> {{vehicle.brand}} </p>        
          <p><b>{{dataInfo.titlePlate}}</b> {{vehicle.plate}} </p>
      </ion-item>
      
    </ion-list>

    <button *ngIf="vehicles.length > 0" ion-button full (click)="save()" color="secondary">Salvar</button>

</ion-footer>
