
<ion-header>

  <ion-navbar text-center no-border-bottom color="primary">  
  
  <ion-title>Empresas</ion-title> 

  <ion-item detail-none no-lines class="backgroundPainel" text-center>  
    <b>{{dataInfo.titleUsername}}:</b> {{dataInfo.userInfo.name}}                 
    <b>{{dataInfo.titleTime}}:</b> {{dataInfo.clock}}          
  </ion-item>

  <ion-buttons end>
      <button ion-button menuToggle color="white_">
        <ion-icon name="menu"></ion-icon></button>
   </ion-buttons>   
   
 </ion-navbar>  

</ion-header>


<ion-content padding>

<ion-list>          

    <ion-item>
        <ion-label>{{dataInfo.titleName}}: </ion-label>
        <ion-input type="text" [(ngModel)]="name"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Responsável </ion-label>
      <ion-input type="text" [(ngModel)]="responsavel"></ion-input>
    </ion-item>    

      <ion-item>
          <ion-label>Endereço</ion-label>            
          <ion-input type="text" [(ngModel)]="endereco"></ion-input>
        </ion-item>
      
    <ion-item>
      <ion-label>{{dataInfo.titleDistrict}}</ion-label>
      <ion-input type="text" [(ngModel)]="bairro"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>{{dataInfo.titleTel}}</ion-label>
      <ion-input type="tel" [(ngModel)]="tel"></ion-input>
    </ion-item>
  
    <ion-item>
      <ion-label>CNPJ</ion-label>
      <ion-input type="text" [(ngModel)]="cnpj"></ion-input>
    </ion-item>   

    <ion-item>
      <ion-label>Status</ion-label>
      <ion-select [(ngModel)]="status">
        <ion-option no-lines>Ativo</ion-option> 
        <ion-option no-lines>Inativo</ion-option> 
      </ion-select>
  </ion-item>

  <button *ngIf="! informations" ion-button full (click)="add()" color="primary">Adicionar</button>
  <button *ngIf="informations" ion-button full (click)="add()" color="secondary">Salvar</button>
  
</ion-list>
  

</ion-content>
