<ion-header>
  <ion-navbar text-center no-border-bottom color="primary">  
    
  <ion-title> {{dataInfo.appName}} </ion-title> 

  <ion-buttons end>
      <button ion-button menuToggle color="white_">
        <ion-icon name="menu"></ion-icon></button>
   </ion-buttons>
   
 </ion-navbar>  
</ion-header>

<ion-content padding>
  
  <ion-content padding class="trips detail-bg">

    <div class="trip card" tappable (click)="goPageDetails()" margin-bottom>
      <div class="background border-bottom" [ngStyle]="{'background-image': 'url(assets/imgs/clientes.jpg'}">
        <div class="background-filter rlt">
          <div class="align-bottom" padding-left padding-right>            
            <h6 class="pull-right text-white" ion-text>{{dataInfo.titleRegisterProfile}}</h6>
            <div class="clear"></div>
          </div>
        </div>
      </div>
      <div class="padding-sm primary-bg">
        <ion-icon name="alert" class="text-white"></ion-icon>
        <span ion-text class="text-white"> {{totalRegisterCompletedStr}} </span>
        <span class="pull-right" ion-text color="light"><strong>{{totalRegisterCompleted}}%</strong> <span ion-text  class="text-green bold"> Preenchidos </span></span>
      </div>
    </div>
    
    <div class="trip card" tappable (click)="goPageAgenda()" margin-bottom>
        <div class="background border-bottom" [ngStyle]="{'background-image': 'url(assets/imgs/agenda.jpg'}">
          <div class="background-filter rlt">
            <div class="align-bottom" padding-left padding-right>
              <h6 class="pull-right text-white" ion-text>{{dataInfo.titleYourAgenda}}</h6>
              <div class="clear"></div>
            </div>
          </div>
        </div>
        <div class="padding-sm primary-bg">
          <ion-icon name="alert" class="text-white" *ngIf="totalWorks === 0"></ion-icon>
          <ion-icon name="checkmark-circle" class="text-white" *ngIf="totalWorks !== 0"></ion-icon>
          <span ion-text class="text-white"> Confirmados </span>          
          <span class="pull-right" ion-text color="light"><strong>{{totalWorks}}</strong> <span ion-text  class="text-green bold"> Agendamentos </span></span>
        </div>
      </div> 
  
      <div class="trip card" tappable (click)="goPageNotifications()" margin-bottom *ngIf="false">
        <div class="background border-bottom" [ngStyle]="{'background-image': 'url(assets/imgs/notifications.jpg'}">
          <div class="background-filter rlt">
            <div class="align-bottom" padding-left padding-right>
              <h6 class="pull-right text-white" ion-text> Notificações </h6>
              <div class="clear"></div>
            </div>
          </div>
        </div>
        <div class="padding-sm primary-bg">
          <ion-icon name="alarm" class="text-white"></ion-icon>          
          <span class="pull-right" ion-text color="light" *ngIf="totalNotifications !== 0"><strong>{{totalNotifications}}</strong> <span ion-text  class="text-green bold"> mensagens não lidas </span></span>
          <span class="pull-right" ion-text color="light" *ngIf="totalNotifications === 0"><strong>{{dataInfo.titleNone}}</strong> <span ion-text  class="text-green bold"> notificação </span></span>
        </div>
      </div>  

</ion-content>
