page-vehicle {

    .ani-bottom-to-top{
        animation-name: bottom-to-top;
        animation-duration: 1s;
        animation-timing-function: linear;
        animation-direction: alternate;
    }
    
}
