page-profiles-add {

    swiper-slide {
        align-items: unset !important;
    }

    .item-datetime ion-datetime {
        position: initial;
      }

    .list-header-cal {
        background-color: transparent;
        color: white;                
    }
}

