
<ion-header>

  <ion-navbar text-center no-border-bottom color="primary">  
  
  <ion-title> {{dataInfo.titlePermissionsAccess}} </ion-title> 

  <ion-buttons end>
      <button ion-button menuToggle color="white_">
        <ion-icon name="menu"></ion-icon></button>
   </ion-buttons>   
   
 </ion-navbar>  

</ion-header>

<ion-content padding>

<ion-list no-lines>

  <ion-list-header color="primary">Perfil</ion-list-header>  

  <ion-item>
    <ion-label>Nome do Perfil</ion-label>
    <ion-input type="text" [(ngModel)]="name"></ion-input>
  </ion-item>

  <ion-item>
      <ion-label>Descrição</ion-label>
      <ion-input type="text" [(ngModel)]="desc"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Tipo acesso</ion-label>   
       
      <ion-select [(ngModel)]="selectedAccessType">
        <ion-option  *ngFor="let type of (accessTypes | async)?.success" no-lines>{{type.name}}</ion-option>        
      </ion-select>
    </ion-item>


    <ion-list-header color="primary" *ngIf="selectedAccessType && selectedAccessType !== 'Dias da Semana + horários'"> Calendário </ion-list-header>  

    <calendar [eventSource]="eventSource"
        [calendarMode]="calendar.mode"
        [currentDate]="calendar.currentDate"
        [showEventDetail]="false"
        (onTimeSelected)="onTimeSelected($event)"        
        [step]="30"
        class="has-header"
        *ngIf="selectedAccessType && selectedAccessType !== 'Dias da Semana + horários'">
      </calendar>           

  <ion-list-header color="primary" *ngIf="selectedAccessType == 'Dias da Semana + horários'"> Dias da semana </ion-list-header>  

      <ion-item no-lines *ngIf="selectedAccessType == 'Dias da Semana + horários'">              
        <ion-item no-lines item-end>
            <ion-label>Segunda-Feira</ion-label>  
            <ion-datetime displayFormat="h:mm A" pickerFormat="h mm A" [(ngModel)]="mondayStart"></ion-datetime>
        </ion-item>
        <ion-item no-lines item-end>
            <ion-datetime displayFormat="h:mm A" pickerFormat="h mm A" [(ngModel)]="mondayEnd"></ion-datetime>                    
        </ion-item>     
      </ion-item>

      <ion-item *ngIf="selectedAccessType == 'Dias da Semana + horários'" no-lines>                 
          <ion-item item-end no-lines>
              <ion-label>Terça-Feira</ion-label>  
              <ion-datetime displayFormat="h:mm A" pickerFormat="h mm A" [(ngModel)]="mondayStart"></ion-datetime>
          </ion-item>  
          <ion-item item-end no-lines>
              <ion-datetime displayFormat="h:mm A" pickerFormat="h mm A" [(ngModel)]="mondayEnd"></ion-datetime>                    
          </ion-item>       
      </ion-item>

      <ion-item *ngIf="selectedAccessType == 'Dias da Semana + horários'" no-lines>                 
          <ion-item item-end no-lines>
              <ion-label>Quarta-Feira</ion-label>  
              <ion-datetime displayFormat="h:mm A" pickerFormat="h mm A" [(ngModel)]="mondayStart"></ion-datetime>
          </ion-item>  
          <ion-item item-end no-lines>
              <ion-datetime displayFormat="h:mm A" pickerFormat="h mm A" [(ngModel)]="mondayEnd"></ion-datetime>                    
          </ion-item>       
      </ion-item>

      <ion-item *ngIf="selectedAccessType == 'Dias da Semana + horários'" no-lines>                 
          <ion-item item-end no-lines>
              <ion-label>Quinta-Feira</ion-label>  
              <ion-datetime displayFormat="h:mm A" pickerFormat="h mm A" [(ngModel)]="mondayStart"></ion-datetime>
          </ion-item>  
          <ion-item item-end no-lines>
              <ion-datetime displayFormat="h:mm A" pickerFormat="h mm A" [(ngModel)]="mondayEnd"></ion-datetime>                    
          </ion-item>       
      </ion-item>

      <ion-item *ngIf="selectedAccessType == 'Dias da Semana + horários'" no-lines>                 
          <ion-item item-end no-lines>
              <ion-label>Sexta-Feira</ion-label>  
              <ion-datetime displayFormat="h:mm A" pickerFormat="h mm A" [(ngModel)]="mondayStart"></ion-datetime>
          </ion-item>  
          <ion-item item-end no-lines>
              <ion-datetime displayFormat="h:mm A" pickerFormat="h mm A" [(ngModel)]="mondayEnd"></ion-datetime>                    
          </ion-item>       
      </ion-item>

      <ion-item *ngIf="selectedAccessType == 'Dias da Semana + horários'" no-lines>                 
          <ion-item item-end no-lines>
              <ion-label>Sábado</ion-label>  
              <ion-datetime displayFormat="h:mm A" pickerFormat="h mm A" [(ngModel)]="mondayStart"></ion-datetime>
          </ion-item>  
          <ion-item item-end no-lines>
              <ion-datetime displayFormat="h:mm A" pickerFormat="h mm A" [(ngModel)]="mondayEnd"></ion-datetime>                    
          </ion-item>       
      </ion-item>

      <ion-item *ngIf="selectedAccessType == 'Dias da Semana + horários'" no-lines>                 
          <ion-item item-end no-lines>
              <ion-label>Domingo</ion-label>  
              <ion-datetime displayFormat="h:mm A" pickerFormat="h mm A" [(ngModel)]="mondayStart"></ion-datetime>
          </ion-item>  
          <ion-item item-end no-lines>
              <ion-datetime displayFormat="h:mm A" pickerFormat="h mm A" [(ngModel)]="mondayEnd"></ion-datetime>                    
          </ion-item>       
      </ion-item>
      
    <ion-list-header color="primary" *ngIf="selectedAccessType && selectedAccessType !== 'Dias da Semana + horários'">Horários</ion-list-header>  

      <ion-item *ngIf="selectedAccessType && selectedAccessType !== 'Dias da Semana + horários'">
        <ion-label>Entrada</ion-label>
        <ion-datetime displayFormat="h:mm A" pickerFormat="h:mm A" [(ngModel)]="timeStart"></ion-datetime>
      </ion-item>
    
      <ion-item *ngIf="selectedAccessType && selectedAccessType !== 'Dias da Semana + horários'">
          <ion-label>Saída</ion-label>
          <ion-datetime displayFormat="h:mm A" pickerFormat="h mm A" [(ngModel)]="timeEnd"></ion-datetime>
      </ion-item>

      <ion-item *ngIf="selectedAccessType && selectedAccessType !== 'Dias da Semana + horários'">
        <button ion-button full (click)="applyTime()">Aplicar marcados</button>
      </ion-item>
    
</ion-list>
  

</ion-content>

<ion-footer *ngIf="name && selectedAccessType">
  <button ion-button full (click)="addProfile()">Salvar</button>
</ion-footer>
