
<ion-header>

  <ion-navbar text-center no-border-bottom color="primary">  
  
  <ion-title> {{dataInfo.titlePermissionsAccess}} </ion-title> 

  <ion-buttons end>
      <button ion-button menuToggle color="white_">
        <ion-icon name="menu"></ion-icon></button>
   </ion-buttons>   
   
 </ion-navbar>  

</ion-header>

<ion-content padding>

<ion-list no-lines>

  <ion-list-header color="primary">Perfil</ion-list-header>  

  <ion-item>
    <ion-label>Nome do Perfil</ion-label>
    <ion-input type="text" [(ngModel)]="name"></ion-input>
  </ion-item>

  <ion-item>
      <ion-label>Descrição</ion-label>
      <ion-input type="text" [(ngModel)]="desc"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Tipo acesso</ion-label>      
      <ion-select [(ngModel)]="selectedAccessType">
        <ion-option  *ngFor="let type of (accessTypes | async)?.success" no-lines>{{type.name}}</ion-option>        
      </ion-select>
    </ion-item>

    <ion-list-header color="primary" *ngIf="selectedAccessType !== 'Dias da Semana + horários'"> Calendário </ion-list-header>  

    <calendar [eventSource]="eventSource"
        [calendarMode]="calendar.mode"
        [currentDate]="calendar.currentDate"
        (onEventSelected)="onEventSelected($event)"
        (onTitleChanged)="onViewTitleChanged($event)"
        (onTimeSelected)="onTimeSelected($event)"        
        [step]="30"
        formatWeekViewDayHeader="EEE"
        class="has-header"
        *ngIf="selectedAccessType !== 'Dias da Semana + horários'">
      </calendar>           

  <ion-list-header color="primary" *ngIf="selectedAccessType == 'Dias da Semana + horários'"> Dias da semana </ion-list-header>  

  <ion-item *ngIf="selectedAccessType == 'Dias da Semana + horários'">
      <ion-label>Segunda</ion-label>
      <ion-checkbox [(ngModel)]="monday"></ion-checkbox>
    </ion-item>
  
    <ion-item *ngIf="selectedAccessType == 'Dias da Semana + horários'">
      <ion-label>Terça</ion-label>
      <ion-checkbox [(ngModel)]="tuesday"></ion-checkbox>
    </ion-item>
  
    <ion-item *ngIf="selectedAccessType == 'Dias da Semana + horários'">
      <ion-label>Quarta</ion-label>
      <ion-checkbox [(ngModel)]="wednesday"></ion-checkbox>
    </ion-item>

    <ion-item *ngIf="selectedAccessType == 'Dias da Semana + horários'">
      <ion-label>Quinta</ion-label>
      <ion-checkbox [(ngModel)]="thursday"></ion-checkbox>
    </ion-item>

    <ion-item *ngIf="selectedAccessType == 'Dias da Semana + horários'">
      <ion-label>Sexta</ion-label>
      <ion-checkbox [(ngModel)]="friday"></ion-checkbox>
    </ion-item>

    <ion-item *ngIf="selectedAccessType == 'Dias da Semana + horários'">
        <ion-label>Sábado</ion-label>
        <ion-checkbox [(ngModel)]="saturday"></ion-checkbox>
      </ion-item>

      <ion-item *ngIf="selectedAccessType == 'Dias da Semana + horários'">
          <ion-label>Domingo</ion-label>
          <ion-checkbox [(ngModel)]="sunday"></ion-checkbox>
      </ion-item>      
      

      <ion-item *ngIf="selectedAccessType == 'Dias da Semana + horários'">
        <ion-label>Horário de entrada</ion-label>
        <ion-datetime displayFormat="h:mm A" pickerFormat="h:mm A" [(ngModel)]="timeStart"></ion-datetime>
      </ion-item>
    
      <ion-item *ngIf="selectedAccessType == 'Dias da Semana + horários'">
          <ion-label>Horário de saída</ion-label>
          <ion-datetime displayFormat="h:mm A" pickerFormat="h mm A" [(ngModel)]="timeEnd"></ion-datetime>
      </ion-item>
    
</ion-list>
  

</ion-content>

<ion-footer *ngIf="name && selectedAccessType">
  <button ion-button full color="secondary" (click)="addProfile()">Salvar</button>
</ion-footer>
