
<ion-header>

  <ion-navbar text-center no-border-bottom color="primary">  
  
  <ion-title> {{dataInfo.titlePermissionsAccess}} </ion-title> 

  <ion-buttons end>
      <button ion-button menuToggle color="white_">
        <ion-icon name="menu"></ion-icon></button>
   </ion-buttons>   
   
 </ion-navbar>  

</ion-header>

<ion-content padding>

<ion-list no-lines>

  <ion-list-header color="primary">{{dataInfo.titleProfile}}</ion-list-header>  

  <ion-item>
    <ion-label>{{dataInfo.titleName}}</ion-label>
    <ion-input type="text" [(ngModel)]="name"></ion-input>
  </ion-item>

  <ion-item>
      <ion-label>{{dataInfo.titleDescription}}</ion-label>
      <ion-input type="text" [(ngModel)]="desc"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>{{dataInfo.titleAccessType}}</ion-label>   
       
      <ion-select [(ngModel)]="selectedAccessType">
        <ion-option  *ngFor="let type of (accessTypes | async)?.success" no-lines>{{type.name}}</ion-option>        
      </ion-select>
    </ion-item>


    <ion-list-header color="primary" *ngIf="selectedAccessType && selectedAccessType !== 'Dias da Semana + horários'"> Calendário </ion-list-header>  

    <calendar [eventSource]="eventSource"
        [calendarMode]="calendar.mode"
        [currentDate]="calendar.currentDate"
        [showEventDetail]="false"
        (onTimeSelected)="onTimeSelected($event)"        
        [step]="30"
        class="has-header"
        *ngIf="selectedAccessType && selectedAccessType !== 'Dias da Semana + horários'">
      </calendar>           

  <ion-list-header color="primary" *ngIf="selectedAccessType == 'Dias da Semana + horários'">{{dataInfo.titleDaysWeek}}</ion-list-header>  

    <ion-item no-lines *ngIf="selectedAccessType == 'Dias da Semana + horários'">              
      <ion-item no-lines item-end>
          <ion-checkbox [(ngModel)]="monday"></ion-checkbox>
          <ion-label>{{dataInfo.titleMonday}}</ion-label>  
      </ion-item>
      <ion-item no-lines item-end *ngIf="monday">            
          <ion-datetime displayFormat="h:mm A" pickerFormat="h mm A" [(ngModel)]="mondayStart"></ion-datetime>
      </ion-item>
      <ion-item no-lines item-end *ngIf="monday">
          <ion-datetime displayFormat="h:mm A" pickerFormat="h mm A" [(ngModel)]="mondayEnd"></ion-datetime>                    
      </ion-item>     
    </ion-item>

    <ion-item no-lines *ngIf="selectedAccessType == 'Dias da Semana + horários'">              
      <ion-item no-lines item-end>
        
          <ion-checkbox [(ngModel)]="tuesday"></ion-checkbox>
          <ion-label>{{dataInfo.titleTuesday}}</ion-label>  
      </ion-item>
      <ion-item no-lines item-end *ngIf="tuesday">            
          <ion-datetime displayFormat="h:mm A" pickerFormat="h mm A" [(ngModel)]="tuesdayStart"></ion-datetime>
      </ion-item>
      <ion-item no-lines item-end *ngIf="tuesday">
          <ion-datetime displayFormat="h:mm A" pickerFormat="h mm A" [(ngModel)]="tuesdayEnd"></ion-datetime>                    
      </ion-item>     
    </ion-item>

  <ion-item no-lines *ngIf="selectedAccessType == 'Dias da Semana + horários'">              
    <ion-item no-lines item-end>
        <ion-checkbox [(ngModel)]="wednesday"></ion-checkbox>
        <ion-label>{{dataInfo.titleWednesday}}</ion-label>  
    </ion-item>
    <ion-item no-lines item-end *ngIf="wednesday">            
        <ion-datetime displayFormat="h:mm A" pickerFormat="h mm A" [(ngModel)]="wednesdayStart"></ion-datetime>
    </ion-item>
    <ion-item no-lines item-end *ngIf="wednesday">
        <ion-datetime displayFormat="h:mm A" pickerFormat="h mm A" [(ngModel)]="wednesdayEnd"></ion-datetime>                    
    </ion-item>     
  </ion-item>

  <ion-item no-lines *ngIf="selectedAccessType == 'Dias da Semana + horários'">              
      <ion-item no-lines item-end>
          <ion-checkbox [(ngModel)]="thursday"></ion-checkbox>
          <ion-label>{{dataInfo.titleThursday}}</ion-label>  
      </ion-item>
      <ion-item no-lines item-end *ngIf="thursday">            
          <ion-datetime displayFormat="h:mm A" pickerFormat="h mm A" [(ngModel)]="thursdayStart"></ion-datetime>
      </ion-item>
      <ion-item no-lines item-end *ngIf="thursday">
          <ion-datetime displayFormat="h:mm A" pickerFormat="h mm A" [(ngModel)]="thursdayEnd"></ion-datetime>                    
      </ion-item>     
    </ion-item>

    <ion-item no-lines *ngIf="selectedAccessType == 'Dias da Semana + horários'">              
        <ion-item no-lines item-end>
            <ion-checkbox [(ngModel)]="friday"></ion-checkbox>
            <ion-label>{{dataInfo.titleFriday}}</ion-label>  
        </ion-item>
        <ion-item no-lines item-end *ngIf="friday">            
            <ion-datetime displayFormat="h:mm A" pickerFormat="h mm A" [(ngModel)]="fridayStart"></ion-datetime>
        </ion-item>
        <ion-item no-lines item-end *ngIf="friday">
            <ion-datetime displayFormat="h:mm A" pickerFormat="h mm A" [(ngModel)]="fridayEnd"></ion-datetime>                    
        </ion-item>     
      </ion-item>

      <ion-item no-lines *ngIf="selectedAccessType == 'Dias da Semana + horários'">              
          <ion-item no-lines item-end>
              <ion-checkbox [(ngModel)]="saturday"></ion-checkbox>
              <ion-label>{{dataInfo.titleSaturday}}</ion-label>  
          </ion-item>

          <ion-item no-lines item-end *ngIf="saturday">            
              <ion-datetime displayFormat="h:mm A" pickerFormat="h mm A" [(ngModel)]="saturdayStart"></ion-datetime>
          </ion-item>
          <ion-item no-lines item-end *ngIf="saturday">
              <ion-datetime displayFormat="h:mm A" pickerFormat="h mm A" [(ngModel)]="saturdayEnd"></ion-datetime>                    
          </ion-item>     
        </ion-item>

      <ion-item no-lines *ngIf="selectedAccessType == 'Dias da Semana + horários'">              
          <ion-item no-lines item-end>
              <ion-checkbox  checked="false"  [(ngModel)]="sunday"></ion-checkbox>
              <ion-label>{{dataInfo.titleSunday}}</ion-label>  
          </ion-item>
          
          <ion-item no-lines item-end *ngIf="sunday">            
              <ion-datetime displayFormat="h:mm A" pickerFormat="h mm A" [(ngModel)]="sundayStart"></ion-datetime>
          </ion-item>
          <ion-item no-lines item-end *ngIf="sunday">
              <ion-datetime displayFormat="h:mm A" pickerFormat="h mm A" [(ngModel)]="sundayEnd"></ion-datetime>                    
          </ion-item>     
        </ion-item>
            
    <ion-list-header color="primary" *ngIf="selectedAccessType && selectedAccessType !== 'Dias da Semana + horários'">Horários</ion-list-header>  

      <ion-item *ngIf="selectedAccessType && selectedAccessType !== 'Dias da Semana + horários'">
        <ion-label>{{dataInfo.titleEntrace}}</ion-label>
        <ion-datetime displayFormat="h:mm A" pickerFormat="h:mm A" [(ngModel)]="timeStart"></ion-datetime>
      </ion-item>
    
      <ion-item *ngIf="selectedAccessType && selectedAccessType !== 'Dias da Semana + horários'">
          <ion-label>{{dataInfo.titleExit}}</ion-label>
          <ion-datetime displayFormat="h:mm A" pickerFormat="h mm A" [(ngModel)]="timeEnd"></ion-datetime>
      </ion-item>

      <ion-item *ngIf="selectedAccessType && selectedAccessType !== 'Dias da Semana + horários'">
        <button ion-button full (click)="applyTime()">{{dataInfo.titleApplyChecked}}</button>
      </ion-item>
    
</ion-list>
  

</ion-content>

<ion-footer *ngIf="name && selectedAccessType">
  <button ion-button full (click)="addProfile()" *ngIf="! loadProfile">{{dataInfo.titleRegister}}</button>


  <button ion-button full (click)="updateProfile()" *ngIf="loadProfile">{{dataInfo.titleSave}}</button>
</ion-footer>
