page-profiles-add {

  .backgroundPainel{
    background-color: transparent;
    color: white;
}

ion-item.item-ios.item.item-block, 
ion-item.item-md.item.item-block, 
ion-item.item-wp.item.item-block {
    border-bottom: 0px solid transparent; 
}


    swiper-slide {
        align-items: unset !important;
    }

    ion-segment{
      height: 44px;
      border-bottom: none;
  }

  ion-toolbar {
    min-height: 200px;
  }

  .segment-button-checked{
    background: #4CAF50;
    color: #673AB7;
    border-bottom: 3px solid #673AB7;
    font-size: 16px;
    color: var(--ion-color-medium);
    border: 0px;
    border-bottom: none;
    border-radius: 0px;
 }
 
    
  .mg-left {
    margin-left: 20px;
  }

    .align-left {
      align-items: left;
    }

    .text-white{
      color: $white !important;
      .p, span, i, a, div, ion-icon, b, small, strong{
        color: $white !important;
      }
      input::placeholder{
        color: $white !important;
      }
    }

    .stroke{
      border-style:solid;
    }

    .stroke-black-opct-1    {
      border-color: $black-opct-1 !important;
    }

    .stroke-bottom-green{

      border-bottom: 1px solid #ccc;
      border-bottom-width: 1px;
      border-bottom-style: solid;
      border-bottom-color: green;
    }

    .stroke-bottom-red{

      border-bottom: 1px solid #ccc;
      border-bottom-width: 1px;
      border-bottom-style: solid;
      border-bottom-color: red;
    }

    .item-datetime ion-datetime {
        position: initial;
      }

    .list-header-cal {
        background-color: transparent;
        color: white;                
    }

      .monthview-selected {
        background-color: transparent !important;
        color: black !important;
      }

      td.monthview-selected {        
        color: white !important;

        .calendar-day {
          background-color: color($colors, 'secondary') !important;
        }
      }
           
      .monthview-datetable {
        border: 0 !important;
    
        td, th {
          border: 0 !important;
          padding: 3px!important;
          background-color: transparent!important;
        }
      }
    
      .calendar-day {
        border-radius: 6px;
        padding: 3px 5px;
            
        &.primary {
          background-color: color($colors, 'primary');
          color: white;
        }
    
        &.secondary {
          background-color: color($colors, 'secondary');
          color: white;
        }

    
        &.green {
          background-color: color($colors, 'secondary');
          color: white;
        }
    
        &.danger {
          background-color: color($colors, 'danger');
          color: white;
        }                  
      }              
}

