
<ion-header>

  <ion-navbar text-center no-border-bottom color="primary">  
    <ion-title> {{dataInfo.titlePermissionsAccess}} </ion-title> 

    <ion-item detail-none no-lines class="backgroundPainel" text-center>  
        <b>{{dataInfo.titleUsername}}:</b> {{dataInfo.userInfo.name}}                 
        <b>{{dataInfo.titleTime}}:</b> {{dataInfo.clock}}          
      </ion-item>

    <ion-buttons end>
        <button ion-button menuToggle color="white_">
        <ion-icon name="menu"></ion-icon></button>
    </ion-buttons>   
   
 </ion-navbar>  

 <ion-toolbar no-border color="primary">
    <ion-searchbar
      [(ngModel)]="searchTerm"      
      (search)="setFilteredItems()"
      placeholder= "Procurar...">
   </ion-searchbar>
  </ion-toolbar>

</ion-header>

<ion-content padding class="trips detail-bg">        

    <ion-item *ngIf="false">
        <div class="trip card" tappable (click)="setSelectedType(1)" margin-bottom *ngIf="selectedType === 0">
            <div class="background border-bottom" [ngStyle]="{'background-image': 'url(assets/imgs/agenda.jpg)', 'background-repeat': 'no-repeat', 'background-size': 'cover', 'background-position': 'center center'}">
                <div class="background-filter rlt">
                <div class="align-bottom" padding-left padding-right>   
                             
                    <h6 class="pull-right text-white" ion-text>{{dataInfo.titlePeriod}}</h6>
                    <div class="clear"></div>
                </div>
                </div>
            </div>     
            </div>
        
        <div class="trip card" tappable (click)="setSelectedType(2)" margin-bottom *ngIf="selectedType === 0">
            <div class="background border-bottom" [ngStyle]="{'background-image': 'url(assets/imgs/agenda1.jpeg)', 'background-repeat': 'no-repeat', 'background-size': 'cover', 'background-position': 'center center'}">
            <div class="background-filter rlt">
                <div class="align-bottom" padding-left padding-right>            
                <h6 class="pull-right text-white" ion-text>{{dataInfo.titleProfileDatetime}}</h6>
                <div class="clear"></div>
                </div>
            </div>
            </div>     
        </div>
        
        <div class="trip card" tappable (click)="setSelectedType(3)" margin-bottom  *ngIf="selectedType === 0">
            <div class="background border-bottom" [ngStyle]="{'background-image': 'url(assets/imgs/agenda2.jpeg)', 'background-repeat': 'no-repeat', 'background-size': 'cover', 'background-position': 'center center'}">
                <div class="background-filter rlt"> 
                <div class="align-bottom" padding-left padding-right>            
                    <h6 class="pull-right text-white" ion-text>{{dataInfo.titleProfileDayweek}}</h6>
                    <div class="clear"></div>
                </div>
                </div>
            </div>     
        </div>
    </ion-item>
    
    
    <div class="trip card" tappable (click)="setSelectedType(4)" margin-bottom  *ngIf="selectedType === 0">
        <div class="background border-bottom" [ngStyle]="{'background-image': 'url(assets/imgs/agenda.jpg)', 'background-repeat': 'no-repeat', 'width': '100%', 'background-size': 'cover', 'background-position': 'center center'}">
        <div class="background-filter rlt">
            <div class="align-bottom" padding-left padding-right>            
            <h6 class="pull-right text-white" ion-text>{{dataInfo.titleProfileVacation}}</h6>
            <div class="clear"></div>
            </div>
        </div>
        </div>                        
    </div>       
        
  <ion-list *ngIf="selectedType > 0">         

    <ion-item *ngFor="let group of allAccessGroups">

        <button ion-item item-start text-wrap no-lines (click)="showOptions(group)">            
            {{group.name}} - {{group.type}}             
            <ion-icon name='folder-open' item-end color="primary"></ion-icon>            
        </button>                             
    </ion-item>
    
</ion-list>        

<ion-fab bottom right margin-bottom *ngIf="selectedType > 0 && selectedTypeName.length > 0">
    <button color="secondary" ion-fab (click)="addPermissionGroups()"><ion-icon name="add"></ion-icon></button>
</ion-fab>
 
<ion-fab bottom left *ngIf="selectedType > 0">
   <button ion-fab (click)="showGroupsTypes()"><ion-icon name="arrow-round-back"></ion-icon></button>
 </ion-fab>

</ion-content>
