
<ion-header>

  <ion-navbar text-center no-border-bottom color="primary">  
  
  <ion-title> {{dataInfo.titleEmployeers}} </ion-title> 

  <ion-item detail-none no-lines class="backgroundPainel" text-center>  
    <b>{{dataInfo.titleUsername}}:</b> {{dataInfo.userInfo.name}}                 
    <b>{{dataInfo.titleTime}}:</b> {{dataInfo.clock}}          
  </ion-item>

  <ion-buttons end>
      <button ion-button menuToggle color="white_">
        <ion-icon name="menu"></ion-icon></button>
   </ion-buttons>   
   
 </ion-navbar>  

</ion-header>


<ion-content padding>

<ion-list>


  <ion-item>
    <ion-label>{{dataInfo.titleName}}</ion-label>
    <ion-input type="text" [(ngModel)]="name"></ion-input>
  </ion-item>

  <ion-item>
      <ion-label>{{dataInfo.titleComumName}}</ion-label>
      <ion-input type="text" [(ngModel)]="commumName"></ion-input>
    </ion-item>

    
    <ion-item>
      <ion-label>{{dataInfo.titleRG}}</ion-label>
      <ion-input type="text" [(ngModel)]="rg"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>{{dataInfo.titleCPF}}</ion-label>
      <ion-input type="number" [(ngModel)]="cpf"></ion-input>
    </ion-item>
    <ion-item>

      <ion-item>
          <ion-label>Endereço</ion-label>
          
          <ion-input type="text" [(ngModel)]="endereco"></ion-input>
        </ion-item>
      
      <ion-label>{{dataInfo.titleDistrict}}</ion-label>
      <ion-input type="text" [(ngModel)]="district"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>{{dataInfo.titleTel}}</ion-label>
      <ion-input type="number" [(ngModel)]="tel"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>{{dataInfo.titleRamal}}</ion-label>
      <ion-input type="number" [(ngModel)]="ramal"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>{{dataInfo.titleRegistration}}</ion-label>
      <ion-input type="text" [(ngModel)]="registration"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>{{dataInfo.titleBadge}}</ion-label>
      <ion-input type="number" [(ngModel)]="badge"></ion-input>
    </ion-item>    

    <ion-item>
        <ion-label>{{dataInfo.titleType}}</ion-label>
        <select-searchable
            item-content
            [(ngModel)]="employeeType"
            [items]="employeeTypes"
            itemValueField="id"
            itemTextField="name"
            [canSearch]="true">
        </select-searchable>       
    </ion-item>

    <ion-item>
        <ion-label>{{dataInfo.titleFunction}}</ion-label>
        <select-searchable
            item-content
            [(ngModel)]="employeeFunction"
            [items]="functionTypes"
            itemValueField="id"
            itemTextField="name"
            [canSearch]="true">
        </select-searchable>
    </ion-item>   

    <ion-item>
        <ion-label>{{dataInfo.titleSector}}</ion-label>
        <select-searchable
            item-content
            [(ngModel)]="employeeSector"
            [items]="sectorsTypes"
            itemValueField="id"
            itemTextField="name"
            [canSearch]="true">
        </select-searchable>
    </ion-item>   

    <ion-item>
        <ion-label>{{dataInfo.titleCompany}}</ion-label>
        <select-searchable
            item-content
            [(ngModel)]="employeeCompany"
            [items]="companiesTypes"
            itemValueField="id"
            itemTextField="name"
            [canSearch]="true">
        </select-searchable>
    </ion-item>   

    <ion-item>
        <ion-label>{{dataInfo.titleOffice}}</ion-label>
        <select-searchable
            item-content
            [(ngModel)]="employeeOffice"
            [items]="officesTypes"
            itemValueField="id"
            itemTextField="name"
            [canSearch]="true">
        </select-searchable>
    </ion-item>   

  <button ion-button full (click)="addVehicle()">Associar Veículos</button>
  <button *ngIf="! informations" ion-button full (click)="add()" color="primary">Adicionar</button>
  <button *ngIf="informations" ion-button full (click)="add()" color="secondary">Salvar</button>
  
</ion-list>
  

</ion-content>
