page-guest-add {

    .backgroundPainel{
        background-color: transparent;
        color: white;
    }

    ion-item.item-ios.item.item-block, 
    ion-item.item-md.item.item-block, 
    ion-item.item-wp.item.item-block {
        border-bottom: 0px solid transparent; 
    }

    
    .autocomplete {
        width: 100%;
    
        ion-searchbar {
            padding: 1px !important;
        }
    
        ion-list {
            position: absolute;
            width: inherit;
            overflow-y: scroll;
            max-height: 150%;
            z-index: 999;
    
            ion-item {
    
                img {
                    max-height: 2.5rem;
                    width: auto;
                    margin: auto;
                    display: block;
                }
            }
    
            ion-item:hover {
                cursor: pointer;
                background: #f1f1f1
            }
        }
    }

    .no-validation-line .item-inner {
        box-shadow: none !important;
      }

}
