<ion-header>

    <ion-navbar text-center no-border-bottom color="primary">
      <ion-title> {{dataInfo.titleUsers}} </ion-title>                

      <ion-item detail-none no-lines class="backgroundPainel" text-center>  
        <b>{{dataInfo.titleUsername}}:</b> {{dataInfo.userInfo.name}}                 
        <b>{{dataInfo.titleTime}}:</b> {{dataInfo.clock}}          
      </ion-item>
    </ion-navbar>
  
    <ion-toolbar no-border color="primary">
        <ion-searchbar
          [(ngModel)]="searchTerm"
          (search)="setFilteredItems()"
          placeholder= "Procurar...">
       </ion-searchbar>
    </ion-toolbar>
       
  </ion-header>
  
<ion-content padding>

    <ion-list>

      <ion-buttons ion-item text-wrap *ngFor="let user of allUsers" no-lines (click)="showOptions(user)">
          <ion-icon name="md-flash" item-start *ngIf="user.id_type === 1 && user.id_status === 1" color="secondary"></ion-icon>
          <ion-icon name="md-flash" item-start *ngIf="user.id_type === 1 && user.id_status === 0" color="danger"></ion-icon>

          <ion-icon name="ios-hand" item-start *ngIf="user.id_type === 5 && user.id_status === 1" color="secondary"></ion-icon>
          <ion-icon name="ios-hand" item-start *ngIf="user.id_type === 5 && user.id_status === 0" color="danger"></ion-icon>
          {{user.name}} - {{dataInfo.titleAcls}}: {{user.acls}}        
          
    </ion-buttons>
    
  </ion-list>


</ion-content>
