<ion-header>

    <ion-navbar text-center no-border-bottom color="primary">
      <ion-title> {{dataInfo.titleUsers}} </ion-title>                
    </ion-navbar>
  
    <ion-toolbar no-border color="primary">
        <ion-searchbar
          [(ngModel)]="searchTerm"
          (ionInput)="setFilteredItems()"
          placeholder= "Procurar...">
       </ion-searchbar>
    </ion-toolbar>
   
  </ion-header>
  
<ion-content padding>

    <ion-list>

      <ion-buttons ion-item text-wrap *ngFor="let user of (users | async)?.success" no-lines (click)="addAcl(user)">
          <ion-icon name="md-flash" item-start *ngIf="user.id_type === 1" color="primary"></ion-icon>
          <ion-icon name="ios-hand" item-start *ngIf="user.id_type === 5" color="primary"></ion-icon>
          {{user.name}}        
    </ion-buttons>
    
  </ion-list>


</ion-content>
