<ion-header>

  <ion-navbar text-center no-border-bottom color="primary">
    <ion-title>{{dataInfo.titleGuests}}</ion-title>                
  </ion-navbar>

  <ion-toolbar no-border color="primary">
      <ion-searchbar
        [(ngModel)]="searchTerm"
        (ionInput)="setFilteredItems()"
        placeholder= "Procurar...">
     </ion-searchbar>
  </ion-toolbar>
 
</ion-header>

<ion-content padding>

  <ion-list>

    <ion-card class="trip card" text-wrap *ngFor="let guest of (guests | async)?.success" no-lines>

        <ion-card-header>
          <ion-icon style="float: right;" name="md-more" color="primary"(click)="openMenu(guest)"></ion-icon>              

          <ion-item>
              <ion-avatar item-start>
                <img src="./assets/imgs/default-user.png" *ngIf="! guest.photo">
                <img src="{{guest.photo}}" *ngIf="guest.photo">
              </ion-avatar>
      
              <h2>{{guest.name}}</h2>
             
          </ion-item>

      </ion-card-header>
          
    <ion-card-content class="mgt-10 top-default"> 
      <p><b>{{dataInfo.titleRG}}</b> {{guest.rg}} </p>      
      <p><b>{{dataInfo.titleCPF}}</b> {{guest.cpf}} </p>        
      <p><b>{{dataInfo.titleBadge}}</b> {{guest.CRACHA}} </p>      
      <p><b>{{dataInfo.titleCompany}}</b> {{guest.EMPRESA}} </p>      
    </ion-card-content>                                

  </ion-card>
  
</ion-list>

<ion-fab bottom right >
  <button ion-fab (click)="goPageAdd()"><ion-icon name="add"></ion-icon></button>
</ion-fab>

</ion-content>
